<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecordGradeSystem.Properties.Settings.DbRecordGradeConnectionString"
            connectionString="Data Source=DESKTOP-RJ6K3QC\SQLEXPRESS;Initial Catalog=DbRecordGrade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>